h3 Liste des utilisateurs

table(border=1)
  tr
    th User id
    th Pseudo
    th Firstname
    th Lastname
    th Email

  each user in users
    tr
      td= user.id
      td= user.pseudo
      td= user.firstname
      td= user.lastname
      td= user.email